# ---- Data (never commit raw data) ----
data/
*.tsv
*.csv
*.txt
# Keep documentation
!data/README.md 


# ---- Genomics / methylation ----
*.beta
*.pat
*.pat.gz
*.bam
*.bai
*.csi

# ---- Binary / large files ----
*.bin
*.h5
*.hdf5
*.npz

# ---- Jupyter outputs ----
.ipynb_checkpoints/

# ---- Python environments ----
.venv/
__pycache__/
*.pyc


# ---- VS Code ----
.vscode/